<% provide(:title,"Help") %>
<h1 class="heading">Help</h1>
<h2 class="demo">demo</h2>
<div class="para">
  <p>
  Please find documentation for the app development<a href="https://github.com/Anx450z/TinyWinApp"> here</a>
  </p>
</div>
<div class="home-button">
  <strong>
    <%= link_to "Home", root_path, class: "home-button-text" %>
  </strong>
</div>