<% provide(:title,"Privacy") %>
<h1>Privacy policy</h1>
<p>
A Privacy Policy is a legal document outlining how your organization collects, uses,
 and discloses personal information.
</p>
<p>
A properly written Privacy Policy tells customers what data you collect about them when
 they engage with your business (e.g., through your website) or purchase one of your
  products/services, and why you're collecting that information.
It also lets people know how long their information will be stored, who can access these records and more.
</p>
<p>
In today's business world, companies depend heavily on data and information derived from it.
Indeed, information is essential for all company employees, from the top executives to the operations level.
</p>
<p>
Protecting data, especially private, personal information, is crucial in a complex world
 where so much depends upon it.
 The most important step for business owners to protect their customers' data
  is to create a concise and transparent Privacy Policy.
  </p>
<p>
So, a good Privacy Policy should outline what data is being collected and explain 
why you're collecting it,
 who has access to it, and the time frame during which you plan to store it.
  It should also include any third parties with whom your company shares personal
   or private information,
   as well as any steps taken to ensure the security of such information.
</p>
<br>
<p>Home<p>