@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.home-button{
  position: relative;
  bottom: 10px;
  left: 40px;
  padding: 10px;
  text-align: center;
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  font-weight: bold;
  border-radius: 25px;
  transition-duration: 0.4s;
  transition-timing-function:ease-in-out;
  width: 70px;
}

.home-button:hover {
  background-color: rgb(61, 168, 255);
  color: white;
}

.home-button-text{
  text-decoration: none;
  cursor: pointer;
  color: aliceblue;
  transition-duration: 0.4s;
  transition-timing-function:ease-in-out;
}

.home-button-text:hover{
  text-decoration: bold;
  color: rgb(21, 21, 21);
}

.para,.heading, .demo{
  padding: 10px 40px;
}

.heading{
  font-size: 50px;
}

.demo{
  font-size: 20px;
  color: rgb(61, 168, 255);;
}

.button-text{
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
  color: rgb(0, 140, 255);
  transition-duration: 0.4s;
  transition-timing-function:ease-in-out;
  padding: 20px;
}

.button-text:hover{
  font-size: 17px;
  color: rgb(21, 21, 21);
}

#logo{
  padding: 40px;
  text-decoration: none;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
  color: rgb(255, 89, 0);;
}

.welcome{
  padding-top: 70px;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
}

.intro{
  padding: 20px;
  text-align: center;
}

.bottom-options{
  position: absolute;
  bottom: 10px;
}
.bottom-options li{
  display: inline;
}

.top-options{
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-options li{
  display: inline;
}