@import './home.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition-duration: 0.4s;
  transition-timing-function:ease-in-out;
}

.button-shape{
  padding: 8px 16px;
  text-align: center;
  color: aliceblue;
  background-color: rgb(93, 180, 251);
  font-weight: bold;
  border-radius: 25px;
  width: fit-content;
  border: 3px solid rgb(0, 140, 255);
}
.button-shape:hover{
  background-color: rgb(251, 162, 97);
  border: 3px solid rgb(255, 89, 0);
}

.button-text{
  font-weight: 900;
  color: rgb(0, 140, 255);
  padding: 20px;
}

.button-text:hover{
  font-size: 17px;
  color: rgb(21, 21, 21);
}

.button-shape-text{
  cursor: pointer;
  color: aliceblue;
}

.button-shape-text:hover{
  color: rgb(21, 21, 21);
}

.para,.heading, .demo{
  padding: 10px 40px;
}

.demo{
  font-size: 20px;
  color: rgb(61, 168, 255);;
}